Host *.github.com
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host sfe
    HostName                sfe6.nas.nasa.gov

Host sfe sfe?.nas.nasa.gov
    # Uncomment to allow multiplexing of single connections
    #ControlMaster           auto
    #ControlPath             ~/.ssh/master-%r@sfe:%p
    ForwardAgent            yes
    ForwardX11              yes
    ServerAliveInterval     5m

Host sfe sfe?.nas.nasa.gov dmzfs?.nas.nasa.gov sup*.nas.nasa.gov
    LogLevel                info
    ProxyCommand            none

Host pfe pfe-last pfe.nas.nasa.gov pfe-last.nas.nasa.gov
    HostKeyAlias            pfe20.nas.nasa.gov
    ProxyCommand            ssh -ax -oCompression=no sfe ssh-balance %h

Host lfe lfe-last lfe.nas.nasa.gov lfe-last.nas.nasa.gov
    HostKeyAlias            lfe5.nas.nasa.gov
    ProxyCommand            ssh -ax -oCompression=no sfe ssh-balance %h

Host lou lou-last lou.nas.nasa.gov lou-last.nas.nasa.gov
    HostKeyAlias            lfe5.nas.nasa.gov
    ProxyCommand            ssh -ax -oCompression=no sfe ssh-balance %h

Host lou2 lou2-last lou2.nas.nasa.gov lou2-last.nas.nasa.gov
    HostKeyAlias            lfe5.nas.nasa.gov
    ProxyCommand            ssh -ax -oCompression=no sfe ssh-balance %h

# Add additional hosts to the list below as needed
Host *.nas.nasa.gov lou lou? lfe? pfe?? ?fe *-last mfe?
    ForwardAgent            yes
    HostbasedAuthentication no
    Protocol                2
    ProxyCommand            ssh -ax -oCompression=no sfe ssh-proxy %h
    ServerAliveInterval     5m
    User                    aaschwan
